
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel

<div class="row">
    <div class="col-md4 offset-md-3">
        @if (string.IsNullOrEmpty(Model.PictureUrl))
        {
            <img class="rounded" src="~/userpictures/default_user_picture.jpg" />
        }
        else
        {
            <img class="rounded" src="~/userpictures/@(Model.PictureUrl)" />
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Istifadəçi məlumatları</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>İstifadəçi adı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




