
@{
    ViewData["Title"] = "PasswordChange";
}

@model PasswordChangeViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Parol dəyişdir</h2>

        @if (TempData["SuccessedMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessedMessage"]
            </div>
        }


        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form method="post" asp-controller="member" asp-action="passwordchange">           
            <div class="row mb-3">
                <label for="PasswordOld" class="col-sm-2 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="PasswordOld" asp-for="PasswordOld">
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordNew" class="col-sm-2 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="PasswordNew" asp-for="PasswordNew">
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PassConfirm" class="col-sm-2 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="PassConfirm" asp-for="PasswordConfirm">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Dəyişdir</button>
                </div>
            </div>
        </form>

    </div>
</div>

